In [1]:
import pandas as pd
import numpy as np
from lifelines import KaplanMeierFitter
import seaborn as sns; sns.set(rc={'figure.figsize':(16,9)})
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import os
import conda
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor

In [2]:
produtos = pd.read_csv('olist_products_dataset.csv')

In [3]:
local = pd.read_csv('olist_geolocation_dataset.csv')

In [4]:
classific = pd.read_csv('olist_order_reviews_dataset.csv')

In [5]:
pedidos = pd.read_csv('olist_orders_dataset.csv')

In [6]:
cliente = pd.read_csv('olist_customers_dataset.csv')

In [7]:
vendedores = pd.read_csv('olist_sellers_dataset.csv')

In [8]:
nome_produtos = pd.read_csv('product_category_name_translation.csv')

In [9]:
item = pd.read_csv('olist_order_items_dataset.csv')

In [10]:
pagamento = pd.read_csv('olist_order_payments_dataset.csv')

In [11]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: object(8)
memory usage: 6.1+ MB

In [12]:
media_score = classific['review_score'].mean()
media_score

4.07089

In [13]:
minima_score = classific['review_score'].min()
minima_score

1

In [14]:
(classific.review_score==minima_score).sum()

11858

In [15]:
(classific.review_score==minima_score).mean()

0.11858

In [16]:
print(classific.info())
print(produtos.info())
print(local.info())
print(pedidos.info())
print(cliente.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 7 columns):
review_id                  100000 non-null object
order_id                   100000 non-null object
review_score               100000 non-null int64
review_comment_title       11715 non-null object
review_comment_message     41753 non-null object
review_creation_date       100000 non-null object
review_answer_timestamp    100000 non-null object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
product_id                    32951 non-null object
product_category_name         32341 non-null object
product_name_lenght           32341 non-null float64
product_description_lenght    32341 non-null float64
product_photos_qty            32341 non-null float64
product_weight_g              32949 non-null float64
product_length_cm             32949 non-null float64
product_height_cm             32949 non-null float64
product_width_cm              32949 non-null float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
geolocation_zip_code_prefix    1000163 non-null int64
geolocation_lat                1000163 non-null float64
geolocation_lng                1000163 non-null float64
geolocation_city               1000163 non-null object
geolocation_state              1000163 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
order_id                         99441 non-null object
customer_id                      99441 non-null object
order_status                     99441 non-null object
order_purchase_timestamp         99441 non-null object
order_approved_at                99281 non-null object
order_delivered_carrier_date     97658 non-null object
order_delivered_customer_date    96476 non-null object
order_estimated_delivery_date    99441 non-null object
dtypes: object(8)
memory usage: 6.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
customer_id                 99441 non-null object
customer_unique_id          99441 non-null object
customer_zip_code_prefix    99441 non-null int64
customer_city               99441 non-null object
customer_state              99441 non-null object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

In [17]:
cliente.keys()

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [18]:
cliente['customer_unique_id'].head()

0    861eff4711a542e4b93843c6dd7febb0
1    290c77bc529b7ac935b93aa66c333dc3
2    060e732b5b29e8181a18229c7b0b2b5e
3    259dac757896d24d7702b9acbbff3f3c
4    345ecd01c38d18a9036ed96c73b8d066
Name: customer_unique_id, dtype: object

In [19]:
teste = pd.DataFrame(cliente['customer_id']==cliente['customer_unique_id'])
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 1 columns):
0    99441 non-null bool
dtypes: bool(1)
memory usage: 97.2 KB

In [20]:
teste = cliente['customer_zip_code_prefix'],cliente['customer_id'], cliente['customer_state'], cliente['customer_city']

pd.DataFrame(teste).T

,customer_zip_code_prefix,customer_id,customer_state,customer_city
0,14409,06b8999e2fba1a1fbc88172c00ba8bc7,SP,franca
1,9790,18955e83d337fd6b2def6b18a428ac77,SP,sao bernardo do campo
2,1151,4e7b3e00288586ebd08712fdd0374a03,SP,sao paulo
3,8775,b2b6027bc5c5109e529d4dc6358b12c3,SP,mogi das cruzes
4,13056,4f2d8ab171c80ec8364f7c12e35b23ad,SP,campinas
...,...,...,...,...
99436,3937,17ddf5dd5d51696bb3d7c6291687be6f,SP,sao paulo
99437,6764,e7b71a9017aa05c9a7fd292d714858e8,SP,taboao da serra
99438,60115,5e28dfe12db7fb50a4b2f691faecea5e,CE,fortaleza
99439,92120,56b18e2166679b8a959d72dd06da27f9,RS,canoas
99440,6703,274fa6071e5e17fe303b9748641082c8,SP,cotia

In [21]:
cliente.customer_city.unique()

array(['franca', 'sao bernardo do campo', 'sao paulo', ...,
       'monte bonito', 'sao rafael', 'eugenio de castro'], dtype=object)

In [22]:
local['geolocation_zip_code_prefix'].T

0           1037
1           1046
2           1046
3           1041
4           1035
           ...
1000158    99950
1000159    99900
1000160    99950
1000161    99980
1000162    99950
Name: geolocation_zip_code_prefix, Length: 1000163, dtype: int64

In [23]:
pagamento.head(2)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39

In [24]:
cliente.head(2)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP

In [25]:
produtos.head(2)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0

In [26]:
item.head(2)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93

In [27]:
pagto_order = pd.merge(left=item, right=pagamento, how='inner', on='order_id')

In [28]:
pgto_order_produto = pd.merge(left=pagto_order, right=produtos, how='inner', on='product_id')

In [29]:
pgto_order_produto.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,payment_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,credit_card,2,72.19,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,1,boleto,1,73.86,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,1,credit_card,2,83.23,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,1,credit_card,3,75.07,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,1,credit_card,4,72.19,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0

In [30]:
pedidos.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [31]:
pgto_cliente_produto = pd.merge(left=pgto_order_produto, right=pedidos, how='inner', on='order_id')

In [32]:
pgto_cliente_produto.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,product_length_cm,product_height_cm,product_width_cm,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,credit_card,2,...,28.0,9.0,14.0,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,1,boleto,1,...,28.0,9.0,14.0,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,1,credit_card,2,...,28.0,9.0,14.0,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,1,credit_card,3,...,28.0,9.0,14.0,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,1,credit_card,4,...,28.0,9.0,14.0,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00

In [33]:
client_1 = pd.merge(left=pgto_cliente_produto, right=cliente, how='inner', on='customer_id')
client_1.shape

(117601, 30)

In [34]:
# trazer informacao do cliente baseado no customer_id
# trazer informacao do vendedor baseado no seller_id
# geo

In [35]:
#local

In [36]:
#import requests

In [37]:
#url= "https://maps.googleapis.com/maps/api/geocode/json?key=AIzaSyAqubh5QP8qfFtzs8lwro6jF10T21CurTA&components=postal_code:05440000"
#response = requests.get(url)

In [38]:
#response.json()['results'][0]['geometry']['location']['lat']

In [39]:
#response.json()['results'][0]['geometry']['location']['lng']

In [40]:
local.shape

(1000163, 5)

In [41]:
len(local.geolocation_zip_code_prefix.unique())

19015

In [42]:
local.groupby('geolocation_zip_code_prefix').count().sort_values(by='geolocation_state', ascending=False)

,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
geolocation_zip_code_prefix,,,,
24220,1146,1146,1146,1146
24230,1102,1102,1102,1102
38400,965,965,965,965
35500,907,907,907,907
11680,879,879,879,879
...,...,...,...,...
20056,1,1,1,1
76370,1,1,1,1
63012,1,1,1,1
76372,1,1,1,1
32635,1,1,1,1

In [43]:
local_nodup = local.sort_values(by='geolocation_zip_code_prefix').drop_duplicates(subset=['geolocation_zip_code_prefix'])

In [44]:
geo_vend_clie = pd.merge(left=client_1, right=local_nodup.rename(columns={'geolocation_lat':'customer_lat','geolocation_lng':'customer_lng'}), how='inner', left_on='customer_zip_code_prefix',right_on='geolocation_zip_code_prefix')

In [45]:
geo_vend_clie.shape

(117289, 35)

In [46]:
#geo_vend_clie.head(3)

In [47]:
classif_ = pd.merge(left=geo_vend_clie, right=classific, how='inner', on="order_id")

In [48]:
classif_.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,payment_sequential,payment_type,payment_installments,...,customer_lat,customer_lng,geolocation_city,geolocation_state,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29,1,credit_card,2,...,-21.762261,-41.315439,campos dos goytacazes,RJ,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03
1,f4776a61a23801c349ab69bd0fd774e2,1,5a6e53c3b4e8684b13388d6aa4afdf12,7299e27ed73d2ad986de7f7c77d919fa,2017-05-23 04:02:17,16.99,15.10,1,boleto,1,...,-21.762261,-41.315439,campos dos goytacazes,RJ,b4f3ebc22714dc945c085a9f2e7a4192,5,NaN,NaN,2017-05-26 00:00:00,2017-05-26 23:31:23
2,4e0158c628911a5f52cfbc38242c0d08,1,fed5c40c27e1c88560a9e92d82ee0825,128639473a139ac0f3e5f5ade55873a5,2018-02-08 13:55:32,19.90,16.79,1,credit_card,1,...,-21.762261,-41.315439,campos dos goytacazes,RJ,d91ceb105eb1f87156a1565f57edd2f0,5,NaN,demorou um bastante mais chegou o produto correto,2018-03-07 00:00:00,2018-04-15 16:22:35

In [49]:
itens_ =pd.merge(left=classif_,right=item, how='inner',on='order_id')

In [50]:
itens_.shape

(164404, 47)

In [51]:
itens_.keys()

Index(['order_id', 'order_item_id_x', 'product_id_x', 'seller_id_x',
       'shipping_limit_date_x', 'price_x', 'freight_value_x',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'geolocation_zip_code_prefix', 'customer_lat',
       'customer_lng', 'geolocation_city', 'geolocation_state', 'review_id',
       'review_score', 'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'order_item_id_y',
       'product_id_y', 'seller_id_y', 'shipping_limit_date_y', 'price_y',
       'freight_value_y'],
      dtype='object')

In [52]:
sellers_ = pd.merge(left=itens_,right=vendedores, how='inner', left_on='seller_id_x', right_on='seller_id')

In [53]:
vendedores.head(5)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [54]:
sellers_.shape

(164404, 51)

In [55]:
sellers_.keys()

Index(['order_id', 'order_item_id_x', 'product_id_x', 'seller_id_x',
       'shipping_limit_date_x', 'price_x', 'freight_value_x',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'geolocation_zip_code_prefix', 'customer_lat',
       'customer_lng', 'geolocation_city', 'geolocation_state', 'review_id',
       'review_score', 'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'order_item_id_y',
       'product_id_y', 'seller_id_y', 'shipping_limit_date_y', 'price_y',
       'freight_value_y', 'seller_id', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')

In [56]:
sellers_.order_item_id_y.sum()

269541

In [57]:
sellers_.order_item_id_x.sum()

269541

In [58]:
pedidos

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

In [59]:
def num_missing(x):
    return sum(x.isnull())

print( sellers_.apply(num_missing, axis=1).count())

164404

In [60]:
sellers_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164404 entries, 0 to 164403
Data columns (total 51 columns):
order_id                         164404 non-null object
order_item_id_x                  164404 non-null int64
product_id_x                     164404 non-null object
seller_id_x                      164404 non-null object
shipping_limit_date_x            164404 non-null object
price_x                          164404 non-null float64
freight_value_x                  164404 non-null float64
payment_sequential               164404 non-null int64
payment_type                     164404 non-null object
payment_installments             164404 non-null int64
payment_value                    164404 non-null float64
product_category_name            162122 non-null object
product_name_lenght              162122 non-null float64
product_description_lenght       162122 non-null float64
product_photos_qty               162122 non-null float64
product_weight_g                 164380 non-null float64
product_length_cm                164380 non-null float64
product_height_cm                164380 non-null float64
product_width_cm                 164380 non-null float64
customer_id                      164404 non-null object
order_status                     164404 non-null object
order_purchase_timestamp         164404 non-null object
order_approved_at                164387 non-null object
order_delivered_carrier_date     162497 non-null object
order_delivered_customer_date    160952 non-null object
order_estimated_delivery_date    164404 non-null object
customer_unique_id               164404 non-null object
customer_zip_code_prefix         164404 non-null int64
customer_city                    164404 non-null object
customer_state                   164404 non-null object
geolocation_zip_code_prefix      164404 non-null int64
customer_lat                     164404 non-null float64
customer_lng                     164404 non-null float64
geolocation_city                 164404 non-null object
geolocation_state                164404 non-null object
review_id                        164404 non-null object
review_score                     164404 non-null int64
review_comment_title             20552 non-null object
review_comment_message           75038 non-null object
review_creation_date             164404 non-null object
review_answer_timestamp          164404 non-null object
order_item_id_y                  164404 non-null int64
product_id_y                     164404 non-null object
seller_id_y                      164404 non-null object
shipping_limit_date_y            164404 non-null object
price_y                          164404 non-null float64
freight_value_y                  164404 non-null float64
seller_id                        164404 non-null object
seller_zip_code_prefix           164404 non-null int64
seller_city                      164404 non-null object
seller_state                     164404 non-null object
dtypes: float64(14), int64(8), object(29)
memory usage: 65.2+ MB

In [67]:
grupo_ = sellers_[['order_id','order_item_id_x','product_id_x','seller_id','price_x']]

In [68]:
grupo_

,order_id,order_item_id_x,product_id_x,seller_id,price_x
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9
...,...,...,...,...,...
164399,ca7d7c95b0f170aae8a2ee59e2f24f66,1,0c21c38f5c53913ec6ae3884484aac81,15aec03fe4cf30dfa574cf550f5ff5ff,28.9
164400,ca7d7c95b0f170aae8a2ee59e2f24f66,1,0c21c38f5c53913ec6ae3884484aac81,15aec03fe4cf30dfa574cf550f5ff5ff,28.9
164401,e9613fa6e02ff8ae45f37ca30b0468a1,1,f619f125af192e28da946f3382e783a6,9b00cad94ef3078faf6fba2e792c158f,354.9
164402,e9613fa6e02ff8ae45f37ca30b0468a1,1,f619f125af192e28da946f3382e783a6,9b00cad94ef3078faf6fba2e792c158f,354.9
164403,f4adf4d0dfbaeeb40ae1c14e893994f4,1,7f47a78f50b93196e945ec522b6e6788,4f40d2ed38d1cc945364a7cd202a82c7,319.9

In [69]:
sellers_[sellers_['order_id']== '4d680edbaa7d3d9bed69532957368a03'].head(3)

,order_id,order_item_id_x,product_id_x,seller_id_x,shipping_limit_date_x,price_x,freight_value_x,payment_sequential,payment_type,payment_installments,...,order_item_id_y,product_id_y,seller_id_y,shipping_limit_date_y,price_y,freight_value_y,seller_id,seller_zip_code_prefix,seller_city,seller_state
86018,4d680edbaa7d3d9bed69532957368a03,2,f0bb82bede57b520480ce892667bb71d,f9903dd0f812c7e771fcad47b6fff231,2018-09-06 09:15:09,59.99,26.44,1,credit_card,10,...,1,0ec96e6d31a1493b0475805c9ae1a0a2,09f952a5f58d2285b0372551ae8f9b01,2018-08-24 09:15:09,167.00,13.22,f9903dd0f812c7e771fcad47b6fff231,89070,blumenau,SC
86019,4d680edbaa7d3d9bed69532957368a03,2,f0bb82bede57b520480ce892667bb71d,f9903dd0f812c7e771fcad47b6fff231,2018-09-06 09:15:09,59.99,26.44,1,credit_card,10,...,2,f0bb82bede57b520480ce892667bb71d,f9903dd0f812c7e771fcad47b6fff231,2018-09-06 09:15:09,59.99,26.44,f9903dd0f812c7e771fcad47b6fff231,89070,blumenau,SC
86020,4d680edbaa7d3d9bed69532957368a03,2,f0bb82bede57b520480ce892667bb71d,f9903dd0f812c7e771fcad47b6fff231,2018-09-06 09:15:09,59.99,26.44,1,credit_card,10,...,3,f0bb82bede57b520480ce892667bb71d,f9903dd0f812c7e771fcad47b6fff231,2018-09-06 09:15:09,59.99,26.44,f9903dd0f812c7e771fcad47b6fff231,89070,blumenau,SC

In [70]:
maior_compra = sellers_['price_x'].max()

In [71]:
maior_compra

6735.0

In [72]:
sellers_[sellers_['price_x']== maior_compra]

,order_id,order_item_id_x,product_id_x,seller_id_x,shipping_limit_date_x,price_x,freight_value_x,payment_sequential,payment_type,payment_installments,...,order_item_id_y,product_id_y,seller_id_y,shipping_limit_date_y,price_y,freight_value_y,seller_id,seller_zip_code_prefix,seller_city,seller_state
153288,0812eb902a67711a1cb742b3cdaa65ae,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.0,194.31,1,credit_card,8,...,1,489ae2aa008f021502940f251d4cce7f,e3b4998c7a498169dc7bce44e6bb6277,2017-02-16 20:37:36,6735.0,194.31,e3b4998c7a498169dc7bce44e6bb6277,3635,sao paulo,SP

In [73]:
(sellers_.product_category_name == 'utilidades_domesticas').sum()

11700

In [74]:
sellers_.shape

(164404, 51)

In [75]:
geral_= sellers_.copy()

In [76]:
geral_.head(3)

,order_id,order_item_id_x,product_id_x,seller_id_x,shipping_limit_date_x,price_x,freight_value_x,payment_sequential,payment_type,payment_installments,...,order_item_id_y,product_id_y,seller_id_y,shipping_limit_date_y,price_y,freight_value_y,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,1,credit_card,2,...,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,1,boleto,1,...,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,1,credit_card,2,...,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP

In [77]:
geral_.payment_sequential.head(100)

0     1
1     1
2     1
3     1
4     1
     ..
95    1
96    1
97    1
98    1
99    1
Name: payment_sequential, Length: 100, dtype: int64

In [78]:
geral_.shape

(164404, 51)

In [79]:
geral_.keys()

Index(['order_id', 'order_item_id_x', 'product_id_x', 'seller_id_x',
       'shipping_limit_date_x', 'price_x', 'freight_value_x',
       'payment_sequential', 'payment_type', 'payment_installments',
       'payment_value', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'geolocation_zip_code_prefix', 'customer_lat',
       'customer_lng', 'geolocation_city', 'geolocation_state', 'review_id',
       'review_score', 'review_comment_title', 'review_comment_message',
       'review_creation_date', 'review_answer_timestamp', 'order_item_id_y',
       'product_id_y', 'seller_id_y', 'shipping_limit_date_y', 'price_y',
       'freight_value_y', 'seller_id', 'seller_zip_code_prefix', 'seller_city',
       'seller_state'],
      dtype='object')

In [181]:
geral_1 = geral_[['customer_id','customer_unique_id','order_id','order_item_id_x','product_category_name','price_x','freight_value_x','payment_type','payment_installments','order_purchase_timestamp','customer_zip_code_prefix','customer_lat','customer_lng','order_status','order_estimated_delivery_date','order_delivered_carrier_date','order_delivered_customer_date','seller_id','seller_zip_code_prefix','seller_city','seller_state','seller_city','review_score']].rename(columns={'customer_lat':'seller_lat','customer_lng':'seller_lng'})

In [182]:
geral_1

,customer_id,customer_unique_id,order_id,order_item_id_x,product_category_name,price_x,freight_value_x,payment_type,payment_installments,order_purchase_timestamp,...,order_status,order_estimated_delivery_date,order_delivered_carrier_date,order_delivered_customer_date,seller_id,seller_zip_code_prefix,seller_city,seller_state,seller_city,review_score
0,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,00010242fe8c5a6d1ba2dd792cb16214,1,cool_stuff,58.9,13.29,credit_card,2,2017-09-13 08:59:02,...,delivered,2017-09-29 00:00:00,2017-09-19 18:34:16,2017-09-20 23:43:48,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,volta redonda,5
1,e6eecc5a77de221464d1c4eaff0a9b64,0fb8e3eab2d3e79d92bb3fffbb97f188,130898c0987d1801452a8ed92a670612,1,cool_stuff,55.9,17.96,boleto,1,2017-06-28 11:52:20,...,delivered,2017-07-26 00:00:00,2017-07-05 12:00:33,2017-07-13 20:39:29,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,volta redonda,5
2,4ef55bf80f711b372afebcb7c715344a,3419052c8c6b45daf79c1e426f9e9bcb,532ed5e14e24ae1f0d735b91524b98b9,1,cool_stuff,64.9,18.33,credit_card,2,2018-05-18 10:25:53,...,delivered,2018-06-07 00:00:00,2018-05-23 14:05:00,2018-06-04 18:34:26,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,volta redonda,4
3,30407a72ad8b3f4df4d15369126b20c9,e7c828d22c0682c1565252deefbe334d,6f8c31653edb8c83e1a739408b5ff750,1,cool_stuff,58.9,16.17,credit_card,3,2017-08-01 18:38:42,...,delivered,2017-08-25 00:00:00,2017-08-02 19:07:36,2017-08-09 21:26:33,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,volta redonda,5
4,91a792fef70ecd8cc69d3c7feb3d12da,0bb98ba72dcc08e95f9d8cc434e9a2cc,7d19f4ef4d04461989632411b7e588b9,1,cool_stuff,58.9,13.29,credit_card,4,2017-08-10 21:48:40,...,delivered,2017-09-01 00:00:00,2017-08-11 19:43:07,2017-08-24 20:04:21,48436dade18ac8b2bce089ec2a041202,27277,volta redonda,SP,volta redonda,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164399,021e3ddcc0581de5bf087b1d87e4b136,3fb1672507c668998549f7c91cbe932b,ca7d7c95b0f170aae8a2ee59e2f24f66,1,beleza_saude,28.9,10.96,voucher,1,2017-02-09 16:09:42,...,processing,2017-03-10 00:00:00,NaN,NaN,15aec03fe4cf30dfa574cf550f5ff5ff,21862,rio de janeiro,RJ,rio de janeiro,1
164400,021e3ddcc0581de5bf087b1d87e4b136,3fb1672507c668998549f7c91cbe932b,ca7d7c95b0f170aae8a2ee59e2f24f66,1,beleza_saude,28.9,10.96,voucher,1,2017-02-09 16:09:42,...,processing,2017-03-10 00:00:00,NaN,NaN,15aec03fe4cf30dfa574cf550f5ff5ff,21862,rio de janeiro,RJ,rio de janeiro,1
164401,86025340edc60ca36327c4169f070f8e,132d0bbffd4ef7e3461c6fe4392b65ce,e9613fa6e02ff8ae45f37ca30b0468a1,1,esporte_lazer,354.9,18.92,voucher,1,2017-12-20 12:04:33,...,delivered,2018-01-24 00:00:00,2017-12-20 23:09:30,2018-01-08 21:39:27,9b00cad94ef3078faf6fba2e792c158f,39442,janauba,MG,janauba,5
164402,86025340edc60ca36327c4169f070f8e,132d0bbffd4ef7e3461c6fe4392b65ce,e9613fa6e02ff8ae45f37ca30b0468a1,1,esporte_lazer,354.9,18.92,credit_card,5,2017-12-20 12:04:33,...,delivered,2018-01-24 00:00:00,2017-12-20 23:09:30,2018-01-08 21:39:27,9b00cad94ef3078faf6fba2e792c158f,39442,janauba,MG,janauba,5
164403,046898f5066f7287e47eda8a80c80a56,b82cc08ec7069053a3f5219ec59d3497,f4adf4d0dfbaeeb40ae1c14e893994f4,1,brinquedos,319.9,16.99,credit_card,1,2017-11-25 15:23:14,...,processing,2017-12-27 00:00:00,NaN,NaN,4f40d2ed38d1cc945364a7cd202a82c7,2337,sao paulo,SP,sao paulo,1

In [183]:
geral_1.order_estimated_delivery_date.iloc[0]

'2017-09-29 00:00:00'

In [184]:
a = Out[109]

In [185]:
from datetime import datetime

In [186]:
data_teste = datetime.strptime(a, '%Y-%m-%d %H:%M:%S')

In [187]:
data_teste.year

2017

In [188]:
data_teste.month

9

In [189]:
data_teste.day

29

In [190]:
datetime.today().weekday()

1

In [191]:
data_teste.weekday()

4

In [192]:
week_map = {
    0:'segunda',
    1:'terça',
    2:'quarta',
    3:'quinta',
    4:'sexta',
    5:'sabado',
    6:'domingo'
}

In [207]:
geral_1['order_estimated_delivery_datetime'] = geral_1.order_estimated_delivery_date.apply(lambda x : datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [208]:
geral_1['order_estimated_delivery_ano'] = geral_1['order_estimated_delivery_datetime'].apply(lambda x : x.year)

geral_1['order_estimated_delivery_mes'] = geral_1['order_estimated_delivery_datetime'].apply(lambda x : x.month)

geral_1['order_estimated_delivery_dia'] = geral_1['order_estimated_delivery_datetime'].apply(lambda x : x.day)

In [209]:
geral_1['order_estimated_delivery_weekday'] = geral_1['order_estimated_delivery_datetime'].apply(lambda x : week_map[x.weekday()])

In [210]:
geral_1.head()

,customer_id,customer_unique_id,order_id,order_item_id_x,product_category_name,price_x,freight_value_x,payment_type,payment_installments,order_purchase_timestamp,...,order_estimated_delivery_dia,order_estimated_delivery_weekday,order_purchase_timestamptime,order_purchase_timestamp_ano,order_purchase_timestamp_mes,order_purchase_timestamp_dia,order_delivered_customer_datetime,order_delivered_customer_date_ano,order_delivered_customer_date_mes,order_delivered_customer_date_dia
0,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,00010242fe8c5a6d1ba2dd792cb16214,1,cool_stuff,58.9,13.29,credit_card,2,quarta,...,29,sexta,2017-09-13 08:59:02,2017,9,13,2017-09-20 23:43:48,2017,9,20
1,e6eecc5a77de221464d1c4eaff0a9b64,0fb8e3eab2d3e79d92bb3fffbb97f188,130898c0987d1801452a8ed92a670612,1,cool_stuff,55.9,17.96,boleto,1,quarta,...,26,quarta,2017-06-28 11:52:20,2017,6,28,2017-07-13 20:39:29,2017,7,13
2,4ef55bf80f711b372afebcb7c715344a,3419052c8c6b45daf79c1e426f9e9bcb,532ed5e14e24ae1f0d735b91524b98b9,1,cool_stuff,64.9,18.33,credit_card,2,sexta,...,7,quinta,2018-05-18 10:25:53,2018,5,18,2018-06-04 18:34:26,2018,6,4
3,30407a72ad8b3f4df4d15369126b20c9,e7c828d22c0682c1565252deefbe334d,6f8c31653edb8c83e1a739408b5ff750,1,cool_stuff,58.9,16.17,credit_card,3,terça,...,25,sexta,2017-08-01 18:38:42,2017,8,1,2017-08-09 21:26:33,2017,8,9
4,91a792fef70ecd8cc69d3c7feb3d12da,0bb98ba72dcc08e95f9d8cc434e9a2cc,7d19f4ef4d04461989632411b7e588b9,1,cool_stuff,58.9,13.29,credit_card,4,quinta,...,1,sexta,2017-08-10 21:48:40,2017,8,10,2017-08-24 20:04:21,2017,8,24

In [211]:
geral_1['order_purchase_timestamptime'] = geral_1.order_purchase_timestamp.apply(lambda x : datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

ValueError: time data 'quarta' does not match format '%Y-%m-%d %H:%M:%S'

In [ ]:
geral_1['order_purchase_timestamp_ano'] = geral_1['order_purchase_timestamptime'].apply(lambda x : x.year)

geral_1['order_purchase_timestamp_mes'] = geral_1['order_purchase_timestamptime'].apply(lambda x : x.month)

geral_1['order_purchase_timestamp_dia'] = geral_1['order_purchase_timestamptime'].apply(lambda x : x.day)

In [ ]:
geral_1['order_purchase_timestamp'] = geral_1['order_purchase_timestamptime'].apply(lambda x : week_map[x.weekday()])

In [ ]:
geral_1 = geral_1.dropna(subset=['order_delivered_customer_date']).reset_index(drop=True)

In [ ]:
geral_1['order_delivered_customer_datetime'] = geral_1.order_delivered_customer_date.apply(lambda x : datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S'))

In [ ]:
geral_1['order_delivered_customer_date_ano'] = geral_1['order_delivered_customer_datetime'].apply(lambda x : x.year)

geral_1['order_delivered_customer_date_mes'] = geral_1['order_delivered_customer_datetime'].apply(lambda x : x.month)

geral_1['order_delivered_customer_date_dia'] = geral_1['order_delivered_customer_datetime'].apply(lambda x : x.day)

In [ ]:
geral_1['order_purchase_timestamp'] = geral_1['order_purchase_timestamptime'].apply(lambda x : week_map[x.weekday()])

In [213]:
geral_1.reset_index().head()

,index,customer_id,customer_unique_id,order_id,order_item_id_x,product_category_name,price_x,freight_value_x,payment_type,payment_installments,...,order_estimated_delivery_dia,order_estimated_delivery_weekday,order_purchase_timestamptime,order_purchase_timestamp_ano,order_purchase_timestamp_mes,order_purchase_timestamp_dia,order_delivered_customer_datetime,order_delivered_customer_date_ano,order_delivered_customer_date_mes,order_delivered_customer_date_dia
0,0,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,00010242fe8c5a6d1ba2dd792cb16214,1,cool_stuff,58.9,13.29,credit_card,2,...,29,sexta,2017-09-13 08:59:02,2017,9,13,2017-09-20 23:43:48,2017,9,20
1,1,e6eecc5a77de221464d1c4eaff0a9b64,0fb8e3eab2d3e79d92bb3fffbb97f188,130898c0987d1801452a8ed92a670612,1,cool_stuff,55.9,17.96,boleto,1,...,26,quarta,2017-06-28 11:52:20,2017,6,28,2017-07-13 20:39:29,2017,7,13
2,2,4ef55bf80f711b372afebcb7c715344a,3419052c8c6b45daf79c1e426f9e9bcb,532ed5e14e24ae1f0d735b91524b98b9,1,cool_stuff,64.9,18.33,credit_card,2,...,7,quinta,2018-05-18 10:25:53,2018,5,18,2018-06-04 18:34:26,2018,6,4
3,3,30407a72ad8b3f4df4d15369126b20c9,e7c828d22c0682c1565252deefbe334d,6f8c31653edb8c83e1a739408b5ff750,1,cool_stuff,58.9,16.17,credit_card,3,...,25,sexta,2017-08-01 18:38:42,2017,8,1,2017-08-09 21:26:33,2017,8,9
4,4,91a792fef70ecd8cc69d3c7feb3d12da,0bb98ba72dcc08e95f9d8cc434e9a2cc,7d19f4ef4d04461989632411b7e588b9,1,cool_stuff,58.9,13.29,credit_card,4,...,1,sexta,2017-08-10 21:48:40,2017,8,10,2017-08-24 20:04:21,2017,8,24

In [214]:
geral_1.to_csv('Geral1.csv', index=False)

In [215]:
geral_1.customer_id

0         3ce436f183e68e07877b285a838db11a
1         e6eecc5a77de221464d1c4eaff0a9b64
2         4ef55bf80f711b372afebcb7c715344a
3         30407a72ad8b3f4df4d15369126b20c9
4         91a792fef70ecd8cc69d3c7feb3d12da
                        ...
160947    b41c9f4c41248fd5c32bf537312d889e
160948    d6df67c855b6f445879822f6346dc45d
160949    3338d6f3767b6853a4ec283edc2a7b21
160950    86025340edc60ca36327c4169f070f8e
160951    86025340edc60ca36327c4169f070f8e
Name: customer_id, Length: 160952, dtype: object

In [212]:
geral_1

,customer_id,customer_unique_id,order_id,order_item_id_x,product_category_name,price_x,freight_value_x,payment_type,payment_installments,order_purchase_timestamp,...,order_estimated_delivery_dia,order_estimated_delivery_weekday,order_purchase_timestamptime,order_purchase_timestamp_ano,order_purchase_timestamp_mes,order_purchase_timestamp_dia,order_delivered_customer_datetime,order_delivered_customer_date_ano,order_delivered_customer_date_mes,order_delivered_customer_date_dia
0,3ce436f183e68e07877b285a838db11a,871766c5855e863f6eccc05f988b23cb,00010242fe8c5a6d1ba2dd792cb16214,1,cool_stuff,58.9,13.29,credit_card,2,quarta,...,29,sexta,2017-09-13 08:59:02,2017,9,13,2017-09-20 23:43:48,2017,9,20
1,e6eecc5a77de221464d1c4eaff0a9b64,0fb8e3eab2d3e79d92bb3fffbb97f188,130898c0987d1801452a8ed92a670612,1,cool_stuff,55.9,17.96,boleto,1,quarta,...,26,quarta,2017-06-28 11:52:20,2017,6,28,2017-07-13 20:39:29,2017,7,13
2,4ef55bf80f711b372afebcb7c715344a,3419052c8c6b45daf79c1e426f9e9bcb,532ed5e14e24ae1f0d735b91524b98b9,1,cool_stuff,64.9,18.33,credit_card,2,sexta,...,7,quinta,2018-05-18 10:25:53,2018,5,18,2018-06-04 18:34:26,2018,6,4
3,30407a72ad8b3f4df4d15369126b20c9,e7c828d22c0682c1565252deefbe334d,6f8c31653edb8c83e1a739408b5ff750,1,cool_stuff,58.9,16.17,credit_card,3,terça,...,25,sexta,2017-08-01 18:38:42,2017,8,1,2017-08-09 21:26:33,2017,8,9
4,91a792fef70ecd8cc69d3c7feb3d12da,0bb98ba72dcc08e95f9d8cc434e9a2cc,7d19f4ef4d04461989632411b7e588b9,1,cool_stuff,58.9,13.29,credit_card,4,quinta,...,1,sexta,2017-08-10 21:48:40,2017,8,10,2017-08-24 20:04:21,2017,8,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160947,b41c9f4c41248fd5c32bf537312d889e,bb804ab3b59099c10245f17159faf55e,b3129a0debe3f118c75c249216364c82,1,casa_construcao,180.0,24.06,credit_card,1,quarta,...,8,quarta,2018-07-18 22:43:29,2018,7,18,2018-07-25 15:03:48,2018,7,25
160948,d6df67c855b6f445879822f6346dc45d,5517917434ed6488c5aa1f2aec53de18,bb05bd3bbacf1e3c6026b43b44a6631c,1,esporte_lazer,22.3,8.88,boleto,1,quinta,...,11,segunda,2018-05-24 11:05:40,2018,5,24,2018-06-01 22:50:46,2018,6,1
160949,3338d6f3767b6853a4ec283edc2a7b21,22af775ffe3d627a6cac9fadfd6ec9a0,c003c1face3c31cba0af4ab5314f3332,1,moveis_decoracao,45.0,8.72,credit_card,5,segunda,...,25,sexta,2017-08-07 10:50:46,2017,8,7,2017-08-21 21:16:43,2017,8,21
160950,86025340edc60ca36327c4169f070f8e,132d0bbffd4ef7e3461c6fe4392b65ce,e9613fa6e02ff8ae45f37ca30b0468a1,1,esporte_lazer,354.9,18.92,voucher,1,quarta,...,24,quarta,2017-12-20 12:04:33,2017,12,20,2018-01-08 21:39:27,2018,1,8
160951,86025340edc60ca36327c4169f070f8e,132d0bbffd4ef7e3461c6fe4392b65ce,e9613fa6e02ff8ae45f37ca30b0468a1,1,esporte_lazer,354.9,18.92,credit_card,5,quarta,...,24,quarta,2017-12-20 12:04:33,2017,12,20,2018-01-08 21:39:27,2018,1,8